@tailwind base;
@tailwind components;
@tailwind utilities;

.crediCard:hover {
  transform: rotateY(-180deg);
  border-radius: 40px;
}

#root {
  width: 100%;
  min-height: 100vh;
  /* margin: 0 auto; */
}

@layer utilities{
    .no-scrollbar ::-webkit-scrollbar{
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;  
    
}

  .slideBar{
    animation: sl;
  }

 
}



