.idea/
.vscode/


*.venv
venv/


__pycache__/
*.pyc
*.pyo
*.pyd

.env

backend/car_rental_back/media/
back/car_rental_back/db.sqlite3

**/migrations/__pycache__/

frontend/react_router/node_modules/

*.log
.DS_Store
Thumbs.db
